#page{
    clear: both;
    text-align: center;
    margin: 2.5em;
}
.page_btn{
    background: lightcyan;
    border: 1px solid gray;
    padding: 0.3em 0.8em;
    margin: 0 1em;
    cursor: pointer;
}
#page input{
    width: 3em;
    text-align: center;
}